name: Continuous Integration

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - run: sbt scalafmtCheckSbt scalafmtCheckAll
      - run: sbt fastLinkJS
      - if: github.event_name != 'pull_request'
        run: |
          mkdir deploy
          cp -r index.html target deploy
      - if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: deploy
